<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix</title>
</head>
<body>
    <h1>How to pass matrices</h1>
    <p>Pass matrix rows as lists in a list</p>
    <p>Pass two matrices as separated by a comma(,)</p>
    <h2>Sample Input:</h2>
    <h2>Passing one matrix</h2>
    <h2>2 by 2 matrix:</h2>
    <h3 style="font-weight: normal">[[1, 2], [3, 4]]</h3>
    <h2>3 by 3 matrix:</h2>
    <h3 style="font-weight: normal">[[1, 2, 4], [3, 4, 7], [4, 1, 7]]</h3>
    <h2>Passing two matrices</h2>
    <h2>2 by 2 matrix:</h2>
    <h3 style="font-weight: normal">[[1, 2], [3, 4]], [[4, 1], [3, 2]]</h3>
    <h2>3 by 3 matrix:</h2>
    <h3 style="font-weight: normal">[[1, 2, 4], [3, 4, 7], [4, 1, 7]], [[1, 2, 4], [3, 4, 7], [4, 1, 7]]</h3>
</body>
</html>